@model NotesMarketPlace.Models.Change_password

@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notes - Marketplace</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom/responsive-tabs.min.css")
    @Styles.Render("~/Content/custom/change-password.css")


    @Styles.Render("~/Content/custom/responsive.css")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <section id="change-password">

        <div id="change-password-img" class="text-center image-fluid">
            <img src="../images/pre-login/top-logo.png">
        </div>
        <div class="container-fluid">
            <div class="row  justify-content-center">

                <div class="col-md-6 col-sm-8 col-12">
                    <div class="form_container">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="alert-success">
                                @ViewBag.Message
                            </div>

                            <h1 class="text-center">Change Password</h1>
                            <p class="text-center">Enter your new password to change your password</p>
                            <div class="form-group">
                                <label for="pwd">Old Password:</label>
                                <input type="password" class="form-control form-control-lg" placeholder="Enter your old password" name="oldpwd" id="o_pwd">
                                <span toggle="#o_pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <label for="pwd">New Password:</label>
                                <input type="password" class="form-control form-control-lg" placeholder="Enter your new password" name="newpwd" id="n_pwd">
                                <span toggle="#n_pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Confirm Password:</label>
                                <input type="password" class="form-control form-control-lg" placeholder="Enter your confirm password" name="confirmpwd" id="c_pwd">
                                <span toggle="#c_pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <button type="submit" class="btn btn-block">SUMBIT</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
</body>
</html>


