@model NotesMarketPlace.Models.User
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; @Styles.Render("~/Content/custom/contact-us.css")
    @Styles.Render("~/Content/css")
}

<div class="wrap">
    <!-- Banner Starts-->
    <section id="contact-us-banner">
        <div class="content-box-md">
            <div class="container" id="banner-content">
                <h1 class="text-center">Contact Us</h1>
            </div>

        </div>
    </section>
    <!-- Banner Ends-->
    <!-- Contact-Us Starts-->
    <section id="contact-us" class="above-footer">
        <div class="content-box-md">
            <div class="container">
                <h3>Get in Touch</h3>
                <h5>Let us know to get back to you</h5>
                @using (Html.BeginForm("email", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="alert-success">
                        @ViewBag.Message
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name<span> *</span></label>
                                <input type="text" class="form-control" id="first-name" placeholder="Enter your first name" name="fname" required value="@Model.FirstName @Model.LastName">
                            </div>
                            <div class="form-group">
                                <label>Email Address<span> *</span></label>
                                <input type="email" class="form-control" id="email-id" placeholder="Enter your first name" name="email" required readonly value="@Model.EmailID">

                            </div>
                            <div class="form-group">
                                <label>Subject<span> *</span></label>
                                <input type="text" class="form-control" id="subject" placeholder="Enter your subject" name="subject" required>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Comments/Questions<span> *</span></label>
                                <textarea class="form-control area" id="comments" rows="10" name="comments" required></textarea>

                            </div>

                        </div>
                    </div>

                    <button class="btn btn-secondary" type="submit" onclick="this.form.submit();">SUBMIT</button>

                }
            </div>

        </div>
    </section>
    <!-- Profile Details Ends-->

</div>


