@using PagedList.Mvc;
@using PagedList;
@model IPagedList<NotesMarketPlace.Models.Note>

@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom/responsive-tabs.min.css")

 
    @Styles.Render("~/Content/custom/responsive.css")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/custom/member-details.css" rel="stylesheet" />
}

<div id="member-details-page">

    <section id="mem-details">
        <div class="content-box-md">
            <div class="container">
                <h1>Member Details</h1>

                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                @if (ViewBag.ProfilePic == null)
                                {<img src="../images/member.png">}
                                else
                                { <img src="@Url.Content(ViewBag.ProfilePic)">}
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-6 labels">
                                        <p>First Name:<p>
                                        <p>Last Name:<p>
                                        <p>Email:<p>
                                        <p>DOB:<p>
                                        <p>Phone Number:<p>
                                        <p>College/University:<p>
                                    </div>


                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6 labels-content">
                                        <p>@ViewBag.Firstname </p>
                                        <p>@ViewBag.Lastname</p>
                                        <p>@ViewBag.Email</p>
                                        @if (ViewBag.DOB == null)
                                        {<p>Not Mentioned</p>}
                                        else
                                        {<p>@ViewBag.DOB</p>
                                    }
                                        <p>@ViewBag.Phone</p>
                                        <p>@ViewBag.College</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 col-12 right-side vertical">

                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-6 col-6 labels">
                                <p>Address 1:<p>
                                <p>Address 2:<p>
                                <p>City:<p>
                                <p>State:<p>
                                <p>Country:<p>
                                <p>Zip Code:<p>
                            </div>
                            <div class="col-lg-7 col-md-6 col-sm-6 col-6 labels-content">

                                <p>@ViewBag.Address1</p>
                                <p>@ViewBag.Address2</p>
                                <p>@ViewBag.City</p>
                                <p>@ViewBag.State</p>
                                <p>@ViewBag.Country</p>
                                <p>@ViewBag.ZipCode</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="in-progress-notes">
        <div class="content-box-md">
            <div class="container">


                <h3>Published Notes</h3>
                <div class="table-responsive">
                    <table class="table">

                        <tr>
                            <th scope="col">SR NO.</th>
                            <th scope="col">NOTE TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">DOWNLOADED NOTES</th>
                            <th scope="col">TOTAL EARNINGS</th>
                            <th scope="col">DATE ADDED</th>
                            <th scope="col">PUBLISHED DATE</th>
                            <th scope="col"></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>1</td>


                                <td><a href="#">@item.Title</a></td>
                                <td>@item.Category.Name</td>
                                <td>@item.ReferenceData.Value</td>
                                <td><a href="#">@item.Downloads.Where(model => model.IsAttachmentDownloaded == true).Count()</a></td>
                                <td>@item.Downloads.Where(model => model.DownloadAllowed == true).Select(model => model.Price).Sum()</td>
                                <td>@item.PublishedDate</td>
                                @if (item.ReferenceData.ID == 4)
                                {
                                    <td>@item.PublishedDate</td>
                                }
                                else
                                {
                                    <td>NA</td>
                                }
                                <td>
                                    <span class="dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" @Url.Action("Download", new { id = item.ID })>Download</a>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </section>

</div>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/custom")