@using PagedList.Mvc;
@using PagedList;
@model IPagedList<NotesMarketPlace.Models.Note>

@{
    ViewBag.Title = "RejectedNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    <link href="~/Content/custom/rejected-notes.css" rel="stylesheet" />
}

<div id="rejected-notes">
    <section id="rejected-notes">
        <div class="content-box-md">
            <div class="container">
                <h1>Rejected Notes</h1>
                @using (Html.BeginForm("NotesUnderReview", "Admin", FormMethod.Get, new { @class = "form-inline" }))
                {
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Seller</label>

                        @Html.DropDownList("dropdownsearch", ViewBag.dropdownsearch as SelectList, "Select", new { @class = "form-control dropddown" })

                    </div>
                </div>
                <div class="col-md-6 form-right form-inline">


                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        @Html.TextBox("searchstring", null, htmlAttributes: new { @class = "form-control", placeholder = "Search notes here.." })


                    </div>

                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-outline-secondary" />

                    </div>

                </div>
            </div>

                }
                <div class="table-responsive">
                    <table class="table">

                        <tr>
                            <th scope="col">SR NO.</th>
                            <th scope="col">NOTE TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">SELLER</th>
                            <th scope="col">DATE ADDED</th>
                            <th scope="col">REJECTED BY</th>
                            <th scope="col">REMARK</th>
                            <th scope="col"></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>1</td>


                                <td><a href="#">@item.Title</a></td>
                                <td>@item.Category.Name</td>
                                <td>@item.User.FullName<span><a href="#"><img src="../images/Dashboard/eye.png"></a></span></td>
                                <td>@item.PublishedDate</td>
                                <td>@item.User1.FullName</td>
                                <td>@item.AdminRemarks</td>
                                <td>
                                    <span class="dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item approve-btn" href="#" role="button">Approve</a>
                                            <a class="dropdown-item" href="#">Download Notes</a>
                                            <a class="dropdown-item" href="#">View more detail</a>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </section>
</div>