@model NotesMarketPlace.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta name="viewport" content="width=device-width" />
    <title>Notes - Marketplace</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom/responsive-tabs.min.css")

    @Styles.Render("~/Content/custom/signup.css")
    @Styles.Render("~/Content/custom/responsive.css")
    @Scripts.Render("~/bundles/jquery")


</head>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <section id="forgot-password">

        <div id="forgot-password-img" class="text-center image-fluid">
            <img src="~/images/top-logo.png">
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-6 col-sm-6 col-12">
                    <div class="form_container">
                        @using (Html.BeginForm())
                        {

                            @Html.AntiForgeryToken()
                            <div class="alert-success">
                                @ViewBag.Message
                            </div>
                            <h1 class="text-center">Forgot Password?</h1>
                            <p class="text-center">Enter your email address to reset your password </p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailID)
                                @Html.TextBoxFor(model => model.EmailID, htmlAttributes: new { @class = "form-control form-control-lg", placeholder = "Enter email" })
                            </div>
                            <button type="submit" class="btn btn-block">SUBMIT</button>
                        }
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- JQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootsrtap JS -->
    <script src="js/Bootstrap/bootstrap.min.js"></script>

    <!--Custom JS-->
    <script src="js/script.js"></script>
</body>
</html>